
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}
.mycontainer{
    width: 85%;
    margin: auto;
}
#costum_fs{
    cursor: pointer;
}
#costum_fs:focus{
    border: none;
}
#homenav{
    background: #008feb;
    color: #fff;
    height: 66px;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    z-index: 10000;
    width: 100%;
}
img#logo {
    width: 66px;
    height: 66px;
    float: left;
}
#logolink{
    line-height: 66px;
    float: left;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}
#homenav ul {
        text-align: right;
}
#homenav ul li{
    display: inline;

}
#homenav ul li a {
   color: #fff;
    margin-right: 11px;
    line-height: 66px;
}
.circuitdetaill{
    width: 87%;
    color: #fff;
}
.class_left ,.class_right{
    padding:0 1%;
    margin: 0;
}

.circuitdetaill h1{
    text-align: center;
}
.linediveder {
    width: 50px;
    height: 3px;
    background: #008feb;
    display: block;
    margin: 0% auto 2%;
}
.circuit_preview img{
    width: 100%;
    height: 363px;
}
.circuitform label {
    display: block;
}
input, select, textarea{
    color: #181818;
}
.inputstyle textarea {
    width: 100%;
    height: 400px;
}
input[type=text]:focus,textarea  {
    outline: none;
}
.inputstyle input[type=text] {
    width: 100%;
    height: 50px;
    padding: 10px 0;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #8c8c8c;
    font-size: 16px;
}
button#costum_fs2, #costum_fs {
    float: right;
    padding: 15px 32px;
    line-height: 25px;
}
.linebreak{
    clear:both;
}

input#subm {
    padding: 8px 22px;
}
.btneffect{
    background: #fff;
    border: 1px solid #ccc;
    -webkit-transition: all 0.142s ease;
    -moz-transition: all 0.142s ease;
    -ms-transition: all 0.142s ease;
    -o-transition: all 0.142s ease;
    transition: all 0.142s ease;
}
.btneffect:hover{
    background: #008feb;
    color: #181818;
    border-color:#008feb;
}
.circuitext p {
    font-size: 14px;
    line-height: 25px;
}

.circuitext h3 {
    font-weight: 200;
    font-size: 26px;
    line-height: 42px;
}

.detail_gallerie{
    margin-bottom: 2%;
}
.detail_gallerie img{
    width: 100%;
}
.lightbox img {
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
}
.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.95);
    display: none;
    z-index: 10000;
}
div#next, #prev {
    color: #000;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    opacity:0.5;
    -webkit-transition: all 0.145s ease;
    -moz-transition: all 0.145s ease;
    -ms-transition: all 0.145s ease;
    -o-transition: all 0.145s ease;
    transition: all 0.145s ease;
}
div#prev:hover,div#next:hover{
    opacity: 1;
}
div#prev {
    float: left;
}
div#next {
    float: right;
}
.lightboxcontainer {
    width: 30%;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.lightboxcontainer i {
    font-size: 50px;
    color: #fff;
    padding:0 15px;
    cursor: pointer;
    line-height: 564px;
}
#next i{
    background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
}
#prev i {
    background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 59%, rgba(0, 0, 0, 0.8) 100%);
}
i.fa.fa-times.close-ico {
    float: right;
    font-size: 36px;
    z-index: 10;
    color: #fff;
    margin: 1%;
    cursor: pointer;
}
.circuit_preview .btneffect , footer .btneffect{
    color: #000;
    padding: 6px 11px;
    font-size: 13px
}
.circuit_preview .btneffect {
display: inline-block;
    width: 40%;
    margin: 0 auto 28px;
}
.circdetail{
    text-align: left;
    height: 140px;
    padding:2%;
}
.circuit_preview{
    text-align: center;
}

.tchep {
    width: 100%;
    box-shadow: 1px 2px 49px -3px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.145s ease;
    -moz-transition: all 0.145s ease;
    -ms-transition: all 0.145s ease;
    -o-transition: all 0.145s ease;
    transition: all 0.145s ease;
    margin-bottom: 3%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}
.tchep:hover{
        box-shadow: 1px 2px 49px -3px rgba(0, 0, 0, 0.58);
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
    font-size: 80px;
    line-height: 520px;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.item:nth-child(1) {
    background-size: cover !important;

}
.item:nth-child(2) {
    background-size: cover !important;
}
.item:nth-child(3) {
    background-size: cover !important;
}
.slidercontent {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 21%;
    margin: auto;
    color: #fff;
    font-size: 61px;
}
.slidercontent p {
    margin: auto;
    width: 50% !important;
}
footer {
    background-size: cover !important;
    background-position: center !important;
    height: 50%;
    background-attachment: fixed !important;
    padding: 2% 0;
    position: relative;
    z-index: 10;
}
.content {
    height: 71%;
    background: #008feb;
    padding: 1%;
    text-align: center;
    color: #fff;
}
.item{
            background-size:cover !important;
            width: 100%;
            height: 100%;
            position: fixed;
            top:0;
            left:0;
            bottom: 0;
            right:0;
}
#bg .overlay{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    background: rgba(0, 0, 0, 0.77);
}
.allcontent{
            position: relative;
            z-index: 1;
}
.homemarg{
    margin-top: 66px;
}
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
}
.modal-open .modal{
    z-index:100000;
}

#story .textsotr{
        column-count: 2;
    column-gap: 56px;
    padding: 2%;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 16px;
    font-weight: 400;
    word-spacing: 4px;
    color: #fff;
}
div#story {
    padding: 2% 0;
}
p.histoiretext {
    column-count: 2;
    line-height: 36px;
    font-size: 18px;
    font-weight: 300;
    column-gap: 69px;
}
.slide_1 {
    display: block;
    padding: 23px 0;
    text-align: center;
    height: 650px;
}



.slide_1 p {
    position: absolute;
    top: 225px;
    left: 50%;
    display: none;
    -webkit-transition: all 0.145s ease;
    -moz-transition: all 0.145s ease;
    -ms-transition: all 0.145s ease;
    -o-transition: all 0.145s ease;
    transition: all 0.145s ease;
    right: 0;
    color: #fff;
    font-size: 25px;
    width: 70%;
    margin: auto;
}
.slide_1_effect{
    left: 0!important;
}
.slide_1 a {
    position: relative;
    top: 350px;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding: 18px 27px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #008feb;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 1% 6px;
    font-size:20px;
}
.slide_1 a i {
    font-size:20px;
}
.slide_1 a:hover{
    background: #008feb;
    color: #fff;
}