{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item" style="background: url('{{ footer.img_1.url }}') no-repeat">
            <div class="slidercontent">
            <p>{{ footer.description1 }}</p>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item" style="background: url('{{ footer.img_2.url }}') no-repeat">
            <div class="slidercontent">
                <p>{{ footer.description2 }}</p>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item"  style="background: url('{{ footer.img_3.url }}') no-repeat">
            <div class="slidercontent">
                <p>{{ footer.description3 }}</p>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>

    <div class="mycontainer" id="Nosircuit">
        <div class="circtui_aceuille">
        <h1 style="text-align: center">Nos Circuits</h1>
        <div class="linediveder"></div>
            <div class="row circuit_preview">
                {% for foo in object_list %}
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="tchep">
                            <div class="imgcontainer">
                            <img src="{{ foo.get_first_image}}" alt="">
                        </div>
                        <div class="circdetail">
                            <a href="{{ foo.get_absolute_url }}">{{ foo.Titre }}</a>
                            <p>{{ foo.Description|linebreaks }}</p>
                        </div>
                        <a href="{{ foo.get_absolute_url }}" class="btneffect">PLus De Détaille</a>
                        </div>
                    </div>
                {% endfor %}
                                <div class="linebreak"></div>
            </div>

        </div>
    </div>
    <div id="story">
        <h1 style="text-align: center">Histroire</h1>
        <div class="linediveder"></div>
        <div class="trianglcontainer">
            <div class="clip-animation" style="background: url('{% static '/images/kaktus.png'%}')"></div>
        </div>
        <p class="textsotr">
            {{ footer.histoire}}
        </p>
    </div>
                                    <div class="linebreak"></div>

{% endblock %}