{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item" style="background: url('{{ footer.img_1.url }}') no-repeat">
            <div class="slidercontent">
            <p>{{ footer.description1 }}</p>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item" style="background: url('{{ footer.img_2.url }}') no-repeat">
            <div class="slidercontent">
                <p>{{ footer.description2 }}</p>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="item"  style="background: url('{{ footer.img_3.url }}') no-repeat">
            <div class="slidercontent">
                <p>{{ footer.description3 }}</p>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>

    <div class="mycontainer" id="Nosircuit">
        <div class="circtui_aceuille">
        <h1 style="text-align: center">Nos Circuits</h1>
        <div class="linediveder"></div>
            <div class="row circuit_preview">
                {% for foo in object_list %}
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="tchep">
                            <div class="imgcontainer">
                            <img src="{{ foo.get_first_image}}" alt="">
                        </div>
                        <div class="circdetail">
                            <a href="{{ foo.get_absolute_url }}">{{ foo.Titre }}</a>
                            <p>{{ foo.Description|linebreaks }}</p>
                        </div>
                        <a href="{{ foo.get_absolute_url }}" class="btneffect">PLus De Détaille</a>
                        </div>
                    </div>
                {% endfor %}
                                <div class="linebreak"></div>
            </div>

        </div>
    </div>
    <div id="story">
        <h1 style="text-align: center">Histroire</h1>
        <div class="linediveder"></div>
        <div class="trianglcontainer">
            <div class="clip-animation" style="background: url('{% static '/images/kaktus.png'%}')"></div>
            <div class="clip-back" ></div>
        </div>
        <p>UNE GRANDE AVENTURE DANS LE SAHARA VOUS ATTEND


MOULA-MOULA?....C’est moi !
Ce petit oiseau au plumage noir et blanc que les Touaregs appellent Moula-Moula, dans les autres régions d'Algérie, c’est  Bechar-Elkhir" ou "Boubachir".  Le traquet chez les français.
Il sera tout le long du voyage, votre compagnon. Que ça soit sur les hauteurs de « l’Assekrem » ou bien quand vous descendrez vers les sublimes plateaux des Tassili !!
Son histoire avec la caravane qu'il a sauvée d'une mort  de soif certaine, vous sera contée à une de vos veillées, par les guides et accompagnateurs qui auront à la fois le plaisir et le devoir de vous rendre le voyage le plus agréable et instructif que possible !!

Les Touaregs, Imouhagh ou si vous préférez les hommes bleus sont les seuls habitants du désert. Vos guides sauront vous faire découvrir leur univers avec ses sublimes paysages que vous allez trouver par endroits comme d’une autre planète !!
Que vous soyez sur le plus haut sommet de «l’Atakor» TAHAT (3003 m) point culminant d’Algérie, ou en redescendant vers les fantastiques plateaux « d’ergs et regs » des tassili, c’est l’envoûtement garanti !
 Vous allez dans ces immensités, connaitre et ressentir certaines choses qui ne vous ont jamais peut être jusqu'à là effleuré l'esprit, entre autres:
1) L’effet bénéfique que vous procurera la nature à son état pur, l’immensité de ses espaces et le silence sur votre esprit et sur votre métabolisme de façon générale.
2) La valeur et l'importance vitale et soudaine avec laquelle vous apparaitront certaines choses, tels que ( l' eau, le pain, l'entre-aide etc...) est saisissante et qui pourra même être déterminante sur votre comportement environnemental futur !!
Et enfin, aussi paradoxalement que cela puisse vous paraître  vous allez découvrir que le désert n’est pas si vide qu’on le croyait !!!
Il faut que vous sachiez d'autre part, que ce tourisme de grands espaces que nous pratiquons à été baptisé ici même à Tamanrasset par l'(O.M.T) l’organisation mondiale du tourisme.
 l’OMT n’était pas venu par hasard siéger en 1989 à Tamanrasset. C’est lors du FUTOURS de Madrid en 1988, qu’elle avait exprimé son vœu de trouver un modèle  alternatif au tourisme conventionnel et classique qui commençait à prendre des dérives néfastes et auxquelles il fallait absolument trouver un palliatif. C’est sur le notre qu’elle jeta son dévolu et le baptisât : Tourisme Alternatif Intelligent et Responsable.  Peut être que cette dénomination lui a été donnée  à cause de  sa singularité, sa simplicité…… où peut être du fait qu’il soit pratiqué sur le plus grand musée à ciel ouvert du monde ou encore pour cette thèse qui fait de cette région le berceau de l'humanité ? !!
En tout cas, ce qui est certain est, qu’en plus de ses apports, touristique, sportif, culturel ou scientifique, il est de plus en plus indiqué et  vivement conseillé par les praticiens comme étant la meilleure thérapie  pour combattre le stress.
Nos Circuits
Les circuits figurant sur ce site , ne sont que des exemples que  nous vous proposons dans tout le Sahara Algérien: Les Tassilis, le Tefedeset, l'Oumeydir, les grands Ergs, le Gourara, le Touat, le Tidikelt, l'Ahnet et bien d'autres oasis....En voiture 4x4, à dos de chameau ou à pied . MOULA-MOULA peut réaliser pour vous à la demande et dans tout le Sahara, des circuits personnalisés.
Aussi, nous pouvons organiser spécialement pour vous, des fêtes traditionnelles, des séminaires, des RAIDS etc...
Nos  expéditions s’organisent pour des groupes comprenant au minimum 4 personnes et 12 au maximum.
Vous pouvez également choisir votre circuit et  itinéraire à la carte, à votre guise et convenance ! A nous revient par la suite le rôle de Le mettre en pratique.
MOULA-MOULA peut aussi fournir des guides pour ceux qui désirent faire de la recherche en communication avec l'Université Algérienne.
Votre Voyage
Pour votre voyage, il faut généralement passer une nuit à Alger à l'aller et ou retour. les vols vers Tamanrasset étant programmés soit tard le soir ou très tôt le matin et si vous le souhaitez, nous pourrons prendre en charge vos réservations à l'Hôtel de votre choix.
Nos tarifs pour le circuit commencent à partir de votre arrivée à l'Aéroport de Tamanrasset. Pour plus d'informations, nous vous prions de nous contacter.

UNE GRANDE AVENTURE DANS LE SAHARA VOUS ATTEND


MOULA-MOULA?....C’est moi !
Ce petit oiseau au plumage noir et blanc que les Touaregs appellent Moula-Moula, dans les autres régions d'Algérie, c’est  Bechar-Elkhir" ou "Boubachir".  Le traquet chez les français.
Il sera tout le long du voyage, votre compagnon. Que ça soit sur les hauteurs de « l’Assekrem » ou bien quand vous descendrez vers les sublimes plateaux des Tassili !!
Son histoire avec la caravane qu'il a sauvée d'une mort  de soif certaine, vous sera contée à une de vos veillées, par les guides et accompagnateurs qui auront à la fois le plaisir et le devoir de vous rendre le voyage le plus agréable et instructif que possible !!

Les Touaregs, Imouhagh ou si vous préférez les hommes bleus sont les seuls habitants du désert. Vos guides sauront vous faire découvrir leur univers avec ses sublimes paysages que vous allez trouver par endroits comme d’une autre planète !!
Que vous soyez sur le plus haut sommet de «l’Atakor» TAHAT (3003 m) point culminant d’Algérie, ou en redescendant vers les fantastiques plateaux « d’ergs et regs » des tassili, c’est l’envoûtement garanti !
 Vous allez dans ces immensités, connaitre et ressentir certaines choses qui ne vous ont jamais peut être jusqu'à là effleuré l'esprit, entre autres:
1) L’effet bénéfique que vous procurera la nature à son état pur, l’immensité de ses espaces et le silence sur votre esprit et sur votre métabolisme de façon générale.
2) La valeur et l'importance vitale et soudaine avec laquelle vous apparaitront certaines choses, tels que ( l' eau, le pain, l'entre-aide par etc...) est saisissante et qui pourra même être déterminante sur votre comportement environnemental futur !!
Et enfin, aussi paradoxalement que cela puisse vous paraître  vous allez découvrir que le désert n’est pas si vide qu’on le croyait !!!
Il faut que vous sachiez d'autre part, que ce tourisme de grands espaces que nous pratiquons à été baptisé ici même à Tamanrasset par l'(O.M.T) l’organisation mondiale du tourisme.
 l’OMT n’était pas venu par hasard siéger en 1989 à Tamanrasset. C’est lors du FUTOURS de Madrid en 1988, qu’elle avait exprimé son vœu de trouver un modèle  alternatif au tourisme conventionnel et classique qui commençait à prendre des dérives néfastes et auxquelles il fallait absolument trouver un palliatif. C’est en le notre qu’elle jeta son dévolu et le baptisât : Tourisme Alternatif Intelligent et Responsable.  Peut être que cette dénomination lui a été donnée  à cause de  sa singularité, sa simplicité…… où peut être du fait qu’il soit pratiqué sur le plus grand musée à ciel ouvert du monde ou encore pour cette thèse qui fait de ce</p>
    </div>
                                    <div class="linebreak"></div>

{% endblock %}